#
#Generic Kickstart template for Ubuntu
#Platform: x86 and x86-64
#

#System language
lang en_US

#Language modules to install
langsupport en_US

#System keyboard
keyboard us

#System mouse
mouse

#System timezone
timezone America/Los_Angeles

#Root password
rootpw --disabled

#Initial user (user with sudo capabilities) 
user couchbase --fullname "Couchbase Build Team" --password couchbase

#Reboot after installation
reboot

#Use text mode install
text

#Install OS instead of upgrade
install

#Installation media
cdrom
#nfs --server=server.com --dir=/path/to/ubuntu/

#System bootloader configuration
bootloader --location=mbr 

#Clear the Master Boot Record
zerombr yes

#Partition clearing information
clearpart --all --initlabel 

#Basic disk partition
part / --fstype ext4 --size 1 --grow --asprimary 
part swap --size 2048

#System authorization infomation
auth  --useshadow  --enablemd5 

#Network information
network --bootproto=dhcp --device=eth0

#Firewall configuration
firewall --disabled --trust=eth0 --ssh 

#Do not configure the X Window System
skipx

#Add packages
%packages
openssh-server
net-tools
python-minimal

#Copy our special package
%post --nochroot
cp /cdrom/xe-guest-utilities_7.4.0-1_amd64.deb /target

%post
apt install -y /xe-guest-utilities_7.4.0-1_amd64.deb
apt-mark hold xe-guest-utilities
rm /xe-guest-utilities_7.4.0-1_amd64.deb

