# Locale Setup
d-i debian-installer/language string en
d-i debian-installer/country string US
d-i debian-installer/locale string en_US.UTF-8

# Keyboard Setup
d-i keyboard-configuration/xkb-keymap select us

# Clock Setup
d-i time/zone string US/Pacific

# Configure hardware clock
d-i clock-setup/utc boolean true
d-i clock-setup/utc-auto boolean true
# set above to false if making a bootable USB to run on same system as Windows

# User Setup
d-i passwd/root-login boolean false
d-i passwd/user-fullname string "Couchbase Build Team"
d-i passwd/user-uid string 1000
d-i passwd/user-password password couchbase
d-i passwd/user-password-again password couchbase
d-i passwd/username string couchbase

# Package Setup
d-i apt-setup/cdrom/set-first boolean false
d-i apt-setup/cdrom/set-next boolean false
d-i apt-setup/cdrom/set-failed boolean false

d-i mirror/country string manual
d-i mirror/http/hostname string deb.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string
tasksel tasksel/first multiselect ssh-server, standard
popularity-contest popularity-contest/participate boolean false
d-i pkgsel/include string sudo, curl, dpkg, cloud-initramfs-growroot, iptables, ifstat, netdata, sysstat, net-tools

# Disk configuration
d-i partman-basicfilesystems/choose_label string gpt
d-i partman-basicfilesystems/default_label string gpt
d-i partman-partitioning/choose_label string gpt
d-i partman-partitioning/default_label string gpt
d-i partman/choose_label string gpt
d-i partman/default_label string gpt
partman-partitioning partman-partitioning/choose_label select gpt
d-i partman-auto/disk string /dev/xvda
d-i partman-auto/method string regular
# The "relatime" is a hack. I really want to specify "x-systemd.growfs", but
# partman-auto only allows a limited set of options. So I add "relatime" here
# and then sed it out in the late_command below.
d-i partman-auto/expert_recipe string        \
    root-swap ::                             \
      1000 1000 0 linux-swap                 \
        $primary{ }                          \
        method{ swap } format{ } .           \
    1000 20000 -1 ext4                       \
        $primary{ }                          \
        method{ format } format{ }           \
        use_filesystem{ } filesystem{ ext4 } \
        mountpoint{ / }                      \
        options/relatime{ relatime } .
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true
d-i grub-installer/bootdev string /dev/xvda

# install Xen tools; add couchbase user to sudoers; enable systemd.growfs; expose netdata
d-i preseed/late_command string \
    echo 'deb [trusted=yes] https://gitlab.com/api/v4/projects/xen-project%252Fxen-guest-agent/packages/generic/deb-amd64/ release/' > /target/etc/apt/sources.list.d/xen.list; \
    in-target apt-get update; \
    in-target apt-get install -y xen-guest-agent; \
    echo "couchbase   ALL=(ALL:ALL) NOPASSWD:ALL" > /target/etc/sudoers.d/couchbase; \
    chmod 0440 /target/etc/sudoers.d/couchbase; \
    sed -i 's/relatime/x-systemd.growfs/' /target/etc/fstab; \
    sed -i -e "s,^\(\s*bind\),#\1," /target/etc/netdata/netdata.conf

# Final Setup
d-i finish-install/reboot_in_progress note
