amqp==5.3.1
appdirs==1.4.4
autopep8==2.3.2
billiard==4.2.2
celery==5.5.3
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
distlib==0.3.7
filelock==3.12.2
Flask==3.1.2
Flask-Cors==6.0.1
gunicorn==20.1.0
itsdangerous==2.2.0
Jinja2==3.1.2
kombu==5.5.4
mariadb==1.1.14
MarkupSafe==2.1.1
prompt-toolkit==3.0.52
pycodestyle==2.14.0
pytz==2023.3
PyYAML==6.0.1
redis==4.5.5
six==1.17.0
tinydb==4.8.2
toml==0.10.2
vine==5.1.0
virtualenv==20.35.3
watchdog==6.0.0
wcwidth==0.2.14
Werkzeug==3.1.0
