git+https://github.com/couchbase/python-couchbase-commons@v0.5.1#egg=cbbuild-database-0.5.1&subdirectory=cbbuild-database
git+https://github.com/couchbase/python-couchbase-commons@v0.5.3#egg=cbbuild-manifest-0.5.3&subdirectory=cbbuild-manifest
git+https://github.com/couchbase/python-couchbase-commons@v0.5.4#egg=cbbuild-util-0.5.4&subdirectory=cbbuild-util
jira
flask
