<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.couchbase.notarizer</string>

    <key>StandardErrorPath</key>
    <string>/var/log/couchbase/notarizer.err</string>
    <key>StandardOutPath</key>
    <string>/var/log/couchbase/notarizer.out</string>

    <key>KeepAlive</key>
	<dict>
		<key>SuccessfulExit</key>
		<false/>
	</dict>

    <key>UserName</key>
    <string>couchbase</string>

    <key>GroupName</key>
    <string>staff</string>

    <key>SessionCreate</key>
    <true />

    <key>ProgramArguments</key>
    <array>
        <string>{{ app_dir }}/go.sh</string>
    </array>
</dict>
</plist>
