amqp==5.3.1
argh==0.26.2
billiard==4.2.2
celery==5.5.3
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
kombu==5.5.4
prompt-toolkit==3.0.52
pytz==2023.3
PyYAML==6.0.1
redis==4.5.5
requests==2.32.5
six==1.17.0
vine==5.1.0
watchdog==6.0.0
wcwidth==0.2.14
