# This script is copied into the user's home directory as .shell_env, and symlinked as
# both .bashrc and .zshenv
#
# The playbook does set the user's default shell to zsh on Mojave in an effort to unify, but
# as pipelines and scripts may call out to bash (e.g. via #!/usr/bin/bash, sh calls etc) it is
# copied into the user's profile and symlinked accordingly
#
# please consider bash<->zsh portability when modifying this file

# Ensure LANG can handle UTF-8 filenames
export LANG=en_US.UTF-8

# Add homebrew and localbin to PATH
# homebrew is installed under /usr/local on x86_64
# under /opt/homebrew on M1
if [ -d "/opt/homebrew" ]; then
  export homebrew_dir=/opt/homebrew
  export PATH=$homebrew_dir/bin:$homebrew_dir/opt/autoconf@2.69/bin:/usr/local/bin:$homebrew_dir/opt/ccache/libexec:$PATH
else
  export homebrew_dir=/usr/local
  export PATH=$homebrew_dir/bin:$homebrew_dir/opt/autoconf@2.69/bin:$homebrew_dir/opt/ccache/libexec:$PATH
fi
gem_paths=$(gem env | grep "INSTALLATION DIRECTORY" | sed 's/.*: //g'  | sed 's/$/\/bin/g' | paste -sd ":" -)
export PATH="${gem_paths}:$PATH"

# Make Homebrew’s completions available in zsh
# When getting “zsh compinit: insecure directories”, enable the chmod below.
# chmod -R go-w "$(brew --prefix)/share"
if type brew &>/dev/null; then FPATH=$(brew --prefix)/share/zsh/site-functions:$FPATH && autoload -Uz compinit && compinit; fi

# Add other locations to PATH
export PATH=~/bin:~/.local/bin:$PATH
