#!/bin/zsh -e

# This script is called at startup, and is responsible for synchronising config+secrets.

profile_port=4000
profile_host=profiledata.build.couchbase.com

rsync \
  --archive \
  --backup \
  --executability \
  --no-group \
  --no-owner \
  --progress \
  -e "ssh -p ${profile_port} -i ~/.ssh/profile_sync -o StrictHostKeyChecking=accept-new" \
  couchbase@${profile_host}:/home/couchbase/{{ NODE_PRODUCT }}/{{ NODE_CLASS }}/macos/ /Users/couchbase/ >> /var/log/couchbase/rsync.log

if [ -d ~/.ssh ]; then chmod 00700 ~/.ssh; fi
if [ -d ~/.gpg ]; then chmod 00700 ~/.gpg; fi
