[build_db]
db_uri = couchbase://localhost
bucket = build_info
username = root
password = couchbase

[repos]
manifest_dir = /home/couchbase/build-manifests
manifest_url = https://github.com/couchbase/build-manifests.git
repo_basedir = /tmp/builddb

[email]
smtp_server = itweb01.hq.northscale.net
receivers = build-team@couchbase.com
