[build_db]
db_uri = couchbase://localhost/build_info
username = root
password = couchbase

[repos]
manifest_dir = /home/couchbase/build-manifests
manifest_url = https://github.com/couchbase/build-manifests.git
repo_basedir = /tmp/builddb
